// Colors
$white: #fff;
$gray: #f4f7fe;
$gray-lighter: #f8faff;

// Font stacks
$sans-serif: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
$serif: georgia, times, serif;
$code: Consolas, monaco, monospace;
$courier: "Courier Next", courier, monospace;
$helvetica: "helvetica neue", helvetica, sans-serif;
$avenir: "avenir next", avenir, sans-serif;
$athelas: athelas, georgia, serif;
$georgia: georgia, serif;
$times: times, serif;
$bodoni: "Bodoni MT", serif;
$calisto: "Calisto MT", serif;
$garamond: garamond, serif;
$baskerville: baskerville, serif;
